<p id="notice"><%= notice %></p>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <meta name="google" content="notranslate"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>
</head>

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @blog.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Image:</strong>-->
  <%#= @blog.image %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Video:</strong>-->
  <%#= @blog.video %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Body:</strong>-->
  <%#= @blog.body %>
<!--</p>-->

<!--<p>-->
<!--  <strong>User:</strong>-->
  <%#= @blog.user_id %>
<!--</p>-->
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!--Sidebar Widgets Column-->
<div class="col-md-3 float-right ">
  <div class="card my-4">
<!--    <img class="card-img-top" src="..." alt="Card image cap">-->
    <h5 class="card-header">Tech</h5>
    <div class="card-body">
      <p class="card-text"> In this sidebar we put categories and trending blogs</p>
      <a href="https://maximo.maxtechug.com"
         class="btn btn-danger">Browse more!</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= @blog.title %></h2>
            <img class="img-fluid" src="<%= @blog.image %>" alt="<%= @blog.title %>">
            <p class="card-text"><%= @blog.body %></p>
            <p class="card-text text-muted h6"> Posted By:  <%= @blog.user.first_name %>  <%= @blog.user.last_name %> |
              Posted On: <%= @blog.created_at %> </p>
            <%#= link_to t('read_more'), @blog, method: :get %>
            <%= link_to 'Edit', edit_blog_path(@blog) %>
            <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
    </div>
    <!--    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}-->
  </div>
</div>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
